{% load static %}

<header class="section-header">
    <div class="container">
    <nav style="font-size: larger;" class="navbar navbar-expand-md navbar-dark fixed-top bg-blue">
        <a class="navbar-brand" href="{% url 'home' %}" style="color: red;">Fle <span style="color: white;">Nzy</span>  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul style="color: white;" class="navbar-nav mr-auto">
            <li class="nav-item">
              <a style="color: white;" class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a style="color: white;" class="nav-link"  href="{% url 'store' %}">Store</a>
            </li>
            <!-- <li class="nav-item">
                <div class="">
                    <div class="">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 
                            <i class="fa fa-bars"></i> All category 
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'store' %}">All Products</a>
                            {% for category in links %}
                            <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a>
                            {% endfor %}
                        </div>
                    </div>
            </li> -->
            
          </ul>
          <ul class="nav justify-content-center">
            <form action="{% url 'search' %}" class="search" method="GET">
                <div class="input-group w-100">
                    <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword">
                    
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                </div>
            </form>
          </ul>
          <div style="color: white;" class="d-flex justify-content-end mb-3 mb-lg-0">
            {% if user.id is None %}
            <div class="widget-header">
                <small style="color: white;" class="title text">Welcome guest!</small>
                <div> 
                    <a style="color: white;" href="{% url 'login' %}">Sign in</a> <span class="dark-transp"> | </span>
                    <a style="color: white;" href="{% url 'register' %}"> Register</a>
                </div>
            </div>
            {% else %}
            <div class="widget-header">
                <small style="color: white;" class="title text">Welcome {{user.first_name}}!</small>
                <div> 
                    <a style="color: white;" href="{% url 'dashboard' %}">Dashboard</a> <span class="dark-transp"> | </span>
                    <a style="color: white;" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
            {% endif %}
            <!-- <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
                <div style="color: white;" class="icon icon-sm rounded-circle border"><i style="color: white;" class="fa fa-shopping-cart"></i></div>
                <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
            </a><br> <br> -->
        </div> 
        
          
        <a style="align-items: center;" href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
            <div style="color: white;" class="icon icon-sm rounded-circle border"><i style="color: white;" class="fa fa-shopping-cart"></i></div>
            <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
        </a>
        </div>
      </nav></div>
    <nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
    <div class="container">
        <!-- <div class="row align-items-center">
            <div class="col-lg-2 col-md-3 col-6">
                <a href="{% url 'home' %}" class="brand-wrap">
                    <img class="logo" src="{% static 'images/logo.png' %}">
                </a> 
            </div> -->
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarTop4">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                 <a href="#" class="nav-link">   English </a>
                
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link"> USD </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li><a href="#" class="nav-link"> <i class="fa fa-envelope"></i> Email </a></li>
            <li><a href="#" class="nav-link"> <i class="fa fa-phone"></i> Call us </a></li>
        </ul> 
      </div>  -->
    </div> 
    </nav> <br><br> <br>
    <div class="container">
    <section class="header-main border-bottom">
        <div class="container">
    
        <div class="col-lg col-sm col-md col-6 flex-grow-0">
            <div class="category-wrap dropdown d-inline-block float-right">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 
                    <i class="fa fa-bars"></i> All category 
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'store' %}">All Products</a>
                    {% for category in links %}
                    <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a>
                    {% endfor %}
                </div>
            </div>  
        </div> 
        <a href="{% url 'store' %}" class="btn btn-outline-primary">Store</a>
        <!-- <div class="col-lg  col-md-6 col-sm-12 col">
            <form action="{% url 'search' %}" class="search" method="GET">
                <div class="input-group w-100">
                    <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword">
                    
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                </div>
            </form> 
        </div> 
        <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
                    <div class="d-flex justify-content-end mb-3 mb-lg-0">
                        {% if user.id is None %}
                        <div class="widget-header">
                            <small class="title text-muted">Welcome guest!</small>
                            <div> 
                                <a href="{% url 'login' %}">Sign in</a> <span class="dark-transp"> | </span>
                                <a href="{% url 'register' %}"> Register</a>
                            </div>
                        </div>
                        {% else %}
                        <div class="widget-header">
                            <small class="title text-muted">Welcome {{user.first_name}}!</small>
                            <div> 
                                <a href="{% url 'dashboard' %}">Dashboard</a> <span class="dark-transp"> | </span>
                                <a href="{% url 'logout' %}">Logout</a>
                            </div>
                        </div>
                        {% endif %}
                        <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
                            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                            <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
                        </a>
                    </div> 
                </div> 
    </div>  -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->
    
</div>
    
    
    </header> <!-- section-header.// -->